.event
	background $white
	
	.content-main
		margin 0
	
		p
			color $black
	
		.banner
			center(1260px)
			position relative
		
		.container
			center(1120px)
			
		.event-information
			column(2/3)
			padding-right 6%
			
			h2
				font-size 1.4em
				margin 30px 0
				font-proxima-nova-bold()
			
			h4
				font-size 1em
				margin-bottom 20px
				padding-bottom 5px
				border-bottom 1px solid $black
				font-proxima-nova-bold()
			
			hr
				padding 0
				margin 30px 0
		
			.event-gallery
				cf()
				
				li
					float left
					margin 0 5px 10px

		.event-cart
			column(1/3)
			margin-top -40px
			position relative
			
			.header--cart
				color $white
				text-align center
				padding 15px 10px 10px
				background #b9911d url('../images/event-slice.jpg') left top repeat-x
				
				.top--cart
					cf()
					text-align left
					margin-bottom 10px
					
					.span-1
						column(1/2)
					
					h5,
					strong
						font-size .9em

					h5
						float right
						text-transform uppercase
				
				.name
					color $white
					margin 10px 20px
					font-size .9em
				
				h3
					font-size 1em
					font-proxima-nova-bold()

				img
					border-radius 50%
					margin 0 auto
			
			.content-cart
				border-left 1px solid $yellow
				border-right 1px solid $yellow
				
				.list--cart
					padding 20px 0
					display block
					text-align center
					
					strong
						text-transform uppercase
						display block
						line-height 1.4em
					
					p,
					strong
						font-size .8em
				
				.btn
					width 100%
					display block
					text-transform capitalize
			
			.footer--cart
				cf()
				
				.btn-cart
					span(1/2)
					text-align center
					font-size .8em
					color $black
					display block
					padding 15px 10px
					border 1px solid $yellow
					
					&:hover
						color $white
						background #351554
					
					&:first-child
						border-right none
					
					i.fa
						margin-right 5px
